<form id="contactForm" action="/contact" method="post">

    <div id="alert" class="alert alert-success" role="alert">
        <div class="container">
            <div class="alert-icon">
                <i class="now-ui-icons ui-2_like"></i>
            </div>
            <strong class="message"></strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">
				<i class="now-ui-icons ui-1_simple-remove"></i>
			</span>
            </button>
        </div>
    </div>
    <div class="input-group input-lg">
        <span class="input-group-addon">
        <i class="now-ui-icons users_circle-08"></i>
        </span>
        {{ form_errors(form.name) }}
        {{ form_widget(form.name) }}
    </div>


    <div class="input-group input-lg">
        <span class="input-group-addon">
        <i class="now-ui-icons ui-1_email-85"></i>
        </span>
        {{ form_errors(form.email) }}
        {{ form_widget(form.email) }}
    </div>
    <h6 class="p-md-3 p-sm-4">Im interested in the ...</h6>
    <div class="radio input-group text-justify">
        {{ form_errors(form.package) }}
        {{ form_widget(form.package) }}
    </div>
    <div class="textarea-container">
        {{ form_errors(form.message) }}
        {{ form_widget(form.message) }}
    </div>
    <div class="send-button">
        <input type="submit" class="btn btn-primary btn-round btn-block btn-lg loader" value="sending...">
        <input id="sendButton" class="btn btn-primary btn-round btn-block btn-lg" type="submit" name="action" value="submit">
    </div>
</form>
