{% extends 'backend/adminBase.html.twig' %}
{% block content %}

    <div class="content-wrapper">
        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/admin/dashboard">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">
                    <a href="/admin/packages">Packages</a>
                </li>
                <li class="breadcrumb-item">
                    {% for key, value in package %}
                    {{ value.name }}
                    {% endfor %}
                </li>
            </ol>
            <div class="row">
                <div class="col-lg-8">

                    <!-- Card Columns -->
                    <div class="mb-0 mt-4">
                        Available Packages
                    </div>
                    <hr class="mt-2">
                    <div class="card-columns">


                        <!-- Package Cards -->

                            <div class="card mb-3">

                                {% for key, value in package %}
                                <div class="card text-center">
                                    <div class="card-header">
                                        <ul class="nav nav-pills card-header-pills">
                                            <li><a href="/admin/packages/edit/{{ value.slug }}" class="nav-link">Edit</a></li>
                                        </ul>
                                    </div>
                                    <div class="card-body">
                                        <h4 class="card-title">{{ value.name }}</h4>
                                        <h6 class="card-subtitle text-muted mb-2">{{ value.description }}</h6>
                                        <p class="card-text">{{ value.info }}</p>
                                        <p class="card-text">&euro;{{ value.price }}</p>
                                    </div>
                                    <div class="card-footer text-muted">
                                        {{ value.created_at }}
                                    </div>
                                    {% endfor %}

                            </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Card Columns-->
{% endblock %}
