{% extends 'backend/adminBase.html.twig' %}

{% block content %}

    <div class="content-wrapper">
        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/admin/dashboard">Dashboard</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="/admin/packages">Packages</a>
                </li>
                <li class="breadcrumb-item active">View Packages</li>
            </ol>
            <div class="row">
                <div class="col-lg-8">

                    <!-- Card Columns -->
                    <div class="mb-0 mt-4">
                        Available Packages
                    </div>
                    <hr class="mt-2">
                    {#<div class="card-columns">#}


                        <!-- Package Cards -->
                    <div class="card">
                        <div class="list-group">
                        {% for package in packages %}

                                <a href="/admin/packages/{{ package.slug }}" class="list-group-item">{{ package.name }}</a>
                        {% endfor %}
                            </div>
                            {#<div class="card mb-3">#}
                                {#<a href="#">#}
                                    {#<img class="card-img-top img-fluid w-100" src="https://unsplash.it/700/450?image=180" alt="">#}
                                {#</a>#}
                                {#<div class="card-body">#}
                                    {#<h6 class="card-title mb-1"><a href="/admin/packages/{{ package.slug }}">{{ package.name }}</a></h6>#}
                                    {#<p class="card-text small">{{ package.description }}</p>#}
                                    {#<p class="card-text small">{{ package.info }}</p>#}
                                    {#<p class="card-footer">{{ package.price }}</p>#}
                                {#</div>#}
                                {#<hr class="my-0">#}
                    </div>

                                {#<div class="card-footer small text-muted">Created {{ package.created_at }}</div>#}
                            {#</div>#}


                    {#</div>#}
                </div>
            </div>
        </div>
    </div>
    <!-- /Card Columns-->
{% endblock %}