<form action="" method="post">

    {% for message in app.session.getFlashBag.get('message') %}
        <div class="alert alert-primary" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    {{ form_errors(form) }}
    <div class="form-group">

        {{ form_errors(form.name) }}
        {{ form_label(form.name) }}
        {{ form_widget(form.name) }}


    </div>


    <div class="form-group">

        {{ form_errors(form.description) }}
        {{ form_label(form.description) }}
        {{ form_widget(form.description) }}


    </div>

    <div class="form-group">

        {{ form_errors(form.info) }}
        {{ form_label(form.info) }}
        {{ form_widget(form.info) }}


    </div>

    {#<div class="form-group">#}

    {#{{ form_errors(form.created_at) }}#}
    {#{{ form_label(form.created_at) }}#}
    {#{{ form_widget(form.created_at) }}#}


    {#</div>#}

    {#<div class="form-group">#}

    {#{{ form_errors(form.updated_at) }}#}
    {#{{ form_label(form.updated_at) }}#}
    {#{{ form_widget(form.updated_at) }}#}


    {#</div>#}

    <div class="form-group">

        {{ form_errors(form.slug) }}
        {{ form_label(form.slug) }}
        {{ form_widget(form.slug) }}


    </div>
    <button class="btn waves-effect waves-light" type="submit" name="action">Submit</button>

</form>