{% extends 'frontend/base.html.twig' %}
{% block content %}
    {% include 'frontend/partials/navbar.html.twig' %}
    <div class="wrapper">
        <div class="page-header page-header-small">
            <div class="page-header-image" data-parallax="true" style="background-image: url('/img/christopher-gower-291246.jpg');"></div>
            <div class="container">
                <div class="content-center">
                    <h1 class="title">Packages</h1>

                    <div class="text-center">
                        <h2 class="text-white">
                            {{ package.name }}<br>
                            <span class="badge badge-info">from &euro;{{ package.price }}</span>
                            {#<small class="text-info">&euro;{{ package.price }} annually or &euro;{{ package.price/16|round }}#}
                                {#monthly#}
                            {#</small>#}
                        </h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="section section-about-us" id="about-us">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">Development Technologies</h2>
                        <p class="lead mt-4">No matter what web package you choose, we have you covered with our modern and flexible tech stack.<br>
                            We usually use Bootstrap on the frontend with either Laravel or Symfony on the server side ensuring you get the latest open source
                            web
                            development tools at your disposal.
                        </p>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h3 class="title m-5">{{ package.name|capitalize }} Package <br>Details</h3>
                        <p class="lead mt-4">{{ package.info }}</p>
                        <div class="separator separator-primary"></div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row align-items-start text-white package-details mt-4 pt-5">

                        <div class="col-sm text-center">
                            <h6 class="text-black">Frontend</h6>
                            <p>{{ package.feature.frontend }}</p>
                        </div>
                        <div class="col-sm text-center">
                            <h6 class="text-black">Backend</h6>
                            <p>{{ package.feature.backend }}</p>
                        </div>
                        <div class="col-sm text-center">
                            <h6 class="text-black">Hosting</h6>
                            <p>{{ package.feature.host }}</p>
                            <p>{{ package.feature.cpu }}</p>
                            <p>{{ package.feature.ram }}</p>
                            <p>{{ package.feature.drive }}</p>
                            <p>{{ package.feature.transfer }}</p>
                            <p>{{ package.feature.server }}</p>
                        </div>
                        <div class="col-sm text-center">
                            <h6 class="text-black">Analytics</h6>
                            <p>{{ package.feature.analytics }}</p>
                        </div>
                    </div>

            </div>
        </div>
    </div>


    {#<div class="card tab-wrapper">#}
    {#<ul class="nav nav-tabs justify-content-center text-info" role="tablist">#}
    {#<li class="nav-item">#}
    {#<a class="nav-link active" data-toggle="tab" href="#frontend" role="tab">Frontend</a>#}
    {#</li>#}
    {#<li class="nav-item">#}
    {#<a class="nav-link" data-toggle="tab" href="#backend" role="tab">#}
    {#Backend#}
    {#</a>#}
    {#</li>#}
    {#<li class="nav-item">#}
    {#<a class="nav-link" data-toggle="tab" href="#hosted" role="tab">#}
    {#Hosting#}
    {#</a>#}
    {#</li>#}
    {#<li class="nav-item">#}
    {#<a class="nav-link" data-toggle="tab" href="#analytics" role="tab">#}
    {#Analytics#}
    {#</a>#}
    {#</li>#}
    {#</ul>#}
    {#<div class="separator separator-primary"></div>#}
    {#<div class="card-body">#}
    {#<!-- Tab panes -->#}
    {#<div class="tab-content text-center">#}
    {#<div class="tab-pane active" id="frontend" role="tabpanel">#}
    {#<p>{{ package.feature.frontend }}</p>#}
    {#</div>#}
    {#<div class="tab-pane" id="backend" role="tabpanel">#}
    {#<p>{{ package.feature.backend }}</p>#}
    {#</div>#}
    {#<div class="tab-pane" id="hosted" role="tabpanel">#}
    {#<p>{{ package.feature.host }}</p>#}
    {#<p>{{ package.feature.cpu }}</p>#}
    {#<p>{{ package.feature.ram }}</p>#}
    {#<p>{{ package.feature.drive }}</p>#}
    {#<p>{{ package.feature.transfer }}</p>#}
    {#<p>{{ package.feature.server }}</p>#}
    {#</div>#}
    {#<div class="tab-pane" id="analytics" role="tabpanel">#}
    {#<p>{{ package.feature.analytics }}</p>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}



    <div class="separator separator-primary"></div>

    {#modals #}
    {% include 'frontend/partials/modals.html.twig' %}
    {#the footer #}
    {% include 'frontend/partials/footer.html.twig' %}
{% endblock %}