{% extends 'base.html.twig' %}

{% block content %}

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-black fixed-top navbar-transparent" color-on-scroll="400">
        <div class="container">

            <div class="navbar-translate">
                <a class="navbar-brand" href="#">
                    SolidSites
                </a>
                <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                </button>
            </div>
            <div id="navigation" class="collapse navbar-collapse justify-content-end" data-nav-image="/img/blurred-image-1.jpg">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="#" class="nav-link">About us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->
    <div class="wrapper">
        <div class="page-header page-header-lg">
            <div class="page-header-image" data-parallax="true" style="background-image: url('/img/greg-rakozy-129733.jpg');">
            </div>
            <div class="container">
                <div class="content-center">
                    <h1 class="title">SolidSites</h1>
                    <h2>Web Development</h2>
                    <div class="text-center">
                        <a class="btn btn-primary btn-lg" href="#about-us">What do we do?</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-about-us" id="about-us">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">What we do</h2>
                        <h5 class="description">We develop responsive, attractive websites to give your business a strong web presence.</h5>
                        <p>We also offer great value on web-hosting giving your site the full benefit of cloud hosting without the cost.</p>
                        <a class="btn btn-primary btn-lg" href="#packages">What packages have you?</a>
                    </div>

                </div>
            </div>

            <div class="separator separator-primary"></div>
        </div>

        <div id="packages" class="section section-team text-center package-card">
            <div class="container-fluid">
                <h2 class="title text-white">Our Packages</h2>

                    <div class="row">
                        {#<div class="card-group">#}
                        {% for entry in entries %}
                            <div class="col-md-4">
                            {#<div class="card">#}
                                <h4 class="text-white">{{ entry.name|upper }}</h4>
                                <div class="separator separator-primary"></div>
                                <p class="category text-primary">{{ entry.description }}</p>
                                <p class="text-muted">{{ entry.info }}</p>
                                <div class="separator separator-primary"></div>
                                <p class="text-white">From &euro;{{ entry.price }}</p>
                                <a href="#" class="btn btn-lg btn-outline-primary details-btn">More Details</a>
                            {#</div>#}
                            </div>
                            {% endfor %}

                        {#{% for entry in entries %}#}

                                {#<img src="../assets/img/avatar.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">#}



                                {#<p class="category text-primary">{{ entry.getFeatureHeading }}</p>#}
                                {#<p class="description">{{ entry.getFeature1 }}</p>#}
                                {#<p class="description">{{ entry.getFeature2 }}</p>#}
                                {#<p class="description">{{ entry.getFeature3 }}</p>#}
                                {#<a href="{{ path('packages') }}" class="btn btn-outline-primary btn-lg">Details</a>#}
                            {#</div>#}
                            {#</div>#}

                        {#{% endfor %}#}
                        </div>
            </div>
        </div>
        <!-- Projects section -->
        <div class="section text-center" id="projects">
            <div class="container-fluid">

                <h2 class="title">Recent Projects</h2>
                <div class="row justify-content-md-center">
                    <div class="col-md-10">
                        <div class="card card-inverse" data-toggle="modal" data-target="#projectModal1">
                            <div class="project-section">
                                <div class="project-section-one">
                                    <div class="card-img-overlay">
                                        <h2 class="card-title">The <span>RecordBox</span></h2>
                                        <a href=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-md-center">
                    <div class="col-md-10">
                        <div class="card card-inverse" data-toggle="modal" data-target="#projectModal2">
                            <div class="project-section">
                                <div class="project-section-two">
                                    <div class="card-img-overlay">
                                        <h2 class="card-title">La boite<span> a musiques</span></h2>
                                        <a href="" data-toggle="modal" data-target="#projectModal1"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-md-center">
                    <div class="col-md-10">
                        <div class="card card-inverse">
                            <div class="project-section">
                                <div class="project-section-three">
                                    <div class="card-img-overlay">
                                        <h2 class="card-title">McGoverns <span>garage</span></h2>
                                        <a href="" data-toggle="modal" data-target="#projectModal1"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-md-center">
                    <div class="col-md-10">
                        <div class="card card-inverse">
                            <div class="project-section">
                                <div class="project-section-four">
                                    <div class="card-img-overlay">
                                        <h2 class="card-title">Dave <span>gearty</span></h2>
                                        <a href="" data-toggle="modal" data-target="#projectModal1"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <!-- contact form -->

    <div class="section section-contact-us text-center">
        <div class="container">
            <h2 class="title">Want to work with us?</h2>
            <p class="description">Your project is very important to us.</p>
            <div class="row">
                <div class="col-lg-6 text-center col-md-8 ml-auto mr-auto">
                    <div class="input-group input-lg">
                            <span class="input-group-addon">
                                <i class="now-ui-icons users_circle-08"></i>
                            </span>
                        <input type="text" class="form-control" placeholder="First Name...">
                    </div>
                    <div class="input-group input-lg">
                            <span class="input-group-addon">
                                <i class="now-ui-icons ui-1_email-85"></i>
                            </span>
                        <input type="text" class="form-control" placeholder="Email...">
                    </div>
                    <div class="textarea-container">
                        <textarea class="form-control" name="name" rows="4" cols="80" placeholder="Type a message..."></textarea>
                    </div>
                    <div class="send-button">
                        <a href="#pablo" class="btn btn-primary btn-round btn-block btn-lg">Send Message</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <footer class="footer footer-default">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="#">
                            Blog
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy; {{ "now"|date('Y', timezone="Europe/Dublin") }}
                Have a nice {{ "now"|date('l') }}
            </div>
        </div>
    </footer>

    <!-- Modals -->
    <div class="modal fade" id="projectModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">The RecordBox</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img class="img-fluid" src="/img/recordbox.png" alt="Card image cap">
                    <ul class="list-group">
                        <li class="list-group-item">Fast, Responsive E-commerce site.</li>
                        <li class="list-group-item">Lightweight shopping cart, Snipcart.</li>
                        <li class="list-group-item">Extensive Content Management System.</li>
                        <li class="list-group-item">Discogs API integration.</li>
                        <li class="list-group-item">SSL certified.</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a class="btn btn-info" href="https://therecordbox.ie">Visit the site.</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="projectModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">La Boite A Musiques</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img class="img-fluid" src="/img/boiteamusiques.png" alt="Card image cap">
                    <ul class="list-group">
                        <li class="list-group-item">Responsive bootstrap site.</li>
                        <li class="list-group-item">News, video, soundcloud and archive pages.</li>
                        <li class="list-group-item">Image gallery.</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a class="btn btn-info" href="http://boamusiques.co.uk">Visit the site.</a>
                </div>
            </div>
        </div>
    </div>



{% endblock %}